<!-- THIS MULTI-PART ALLOWS PIECES TO BE SENT ONE BY ONE AND PUTS IT BACK TOGETHER AS A COMPLETE FILE
ALSO REMEMBER TO REMOVE THE PARANTHESIS AROUND @THING_ITEM -->

<%= form_for @thing_item, :html => {:multipart => true} do |f| %>
  <% if @thing_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing_item.errors.count, "error") %> prohibited this thing_item from being saved:</h2>

      <ul>
      <% @thing_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="Picture">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
