<h1>Listing thing_items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thing_items.each do |thing_item| %>
      <tr>
        <td><%= thing_item.name %></td>
        <td><%= link_to 'Show', thing_item %></td>
        <td><%= link_to 'Edit', edit_thing_item_path(thing_item) %></td>
        <td><%= link_to 'Destroy', thing_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thing item', new_thing_item_path %>
